
<!DOCTYPE html>
<html lang="en-US">


   
<head>
<meta charset="utf-8">
<title>{{ .Site.Title }}</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Jura&family=Stick+No+Bills:wght@200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap" rel="stylesheet">
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">


{{ $css := resources.Get "css/stars.css" }}
{{ $css := resources.Get "css/common.css" }}
{{ $css := resources.Get "css/home.css" }}
<link rel="stylesheet" href="{{"css/stars.css" | relURL }}">
<link rel="stylesheet" href="{{"css/common.css" | relURL }}">
<link rel="stylesheet" href="{{"css/home.css" | relURL }}">

<script src="https://kit.fontawesome.com/e63e797fac.js" crossorigin="anonymous"></script>

</head>
<body>

<div style="background-image: url('background.png');background-repeat: repeat-x;">
<div id="plate">
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
</div>
</div>


<main>

<section id="card">
  <h1 id="title">THE COSMIC INITIATIVE</h1>
  <h2>A WEBASSEMBLY ORCHESTRATION FRAMEWORK</h2>

</section>

<section id="content">
  <h3>WHAT IS IT?</h3>
  <p>A free and open source software framework written in Rust that facilitates deployment &amp; execution of WebAssembly <em>(Wasm)</em> components at every level of the enterprise (Mobile, Browser, Desktop, Server, Edge, IoT.) Cosmic enabled Wasm components can discover other Wasm components &amp; resources &amp; interoperate via messages &amp; remote procedure calls (RPC)</p>
  <h3>WEBASSEMBLY (Wasm)</h3>
  <p><a href="https://webassembly.org/">A binary instruction format for a virtual machine</a>.</p>  
  <p>Wasm is Fast, Safe, Portable &amp; Ubiquitous.  It has a far smaller footprint than containers (think kilobytes instead of gigabytes) and can execute in more environments than containers including the Browser, Mobile and IoT.</p>   
  <p>The Cosmic Initiative is just a set of Rust libraries to make WebAssembly shine by allowing developers to compose a software program or add on to an existing software program a framework to orhcestrate multiple Wasm components.</p>
  <h3>COSMIC FEATURES</h3>
  <ul>
  <li><h4>ARTIFACTS</h4><p>Artifact system for bundling and deploying resource files, assets and Wasm binaries</p></li>
  <li><h4>MESSAGING</h4><p>A simple messaging protocol for discovering and communicating via RPC between various Wasm components.</p>  
                        <p>The Cosmic Initiative even provides a working registry and routing system for getting messages where they need to go in many environments</p></li>
  <li><h4>CONFIGURATION</h4><p>A configuration DSL for creating binding rules between the Wasm and its greater 'cosmic' environment.</p>  
                            <p>The binding contract ensures that the environment has everything the Wasm requires and provides an RPC interface for the Wasm</p></li>
  <li><h4>SECURITY</h4><p>A security model which governs between Wasm components.</p> 
                       <p>This is perhaps one of the most exciting aspects of The Cosmic Initiative: built on top of the revolutionary security of Wasm and buttressed by cosmic's chosen host engine <a href="https://wasmer.io/">Wasmer</a> it should be possible for the first time to execute completely untrusted code securely when the right policy is configured with reasonable confidence--a bold claim</p></li>

  </ul>

  <h2 id="starlane">STARLANE</h2>
  <p>Check out the cosmic initiative reference implementation <a href="http://starlane.io/"><strong>Starlane</strong>: <strong>A Mesh for extending enterprise resources with WebAssembly</strong></a></p>


  <h2>THE CODE</h2>
  <p>
  Check it out on <a href="https://github.com/cosmic-initiative/cosmic-initiative/tree/develop/rust/cosmic">github</a>
  </p>


</section>
</main>
</body>
</html>
